<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="formStepOne" [editable]="editable">
    <ng-template matStepLabel>
      Select Packages
    </ng-template>
    <app-step-one></app-step-one>
  </mat-step>

  <mat-step [stepControl]="formStepTwo" [editable]="editable">
    <ng-template matStepLabel>
      Confirm Changes
    </ng-template>
    <app-step-two
      (confirmed)="editable = !$event"
      (canceled)="canceled()"
    ></app-step-two>
  </mat-step>

  <mat-step [stepControl]="formStepThree">
    <ng-template matStepLabel>
      Applying Changes
    </ng-template>
    <app-step-three
      (reset)="reset()"
      [visible]="!animating && currentStep === 2"
    ></app-step-three>
  </mat-step>
</mat-horizontal-stepper>
