<div
  class="mat-dialog-container padding2"
  fxLayout="column"
  style="height: 100%"
>
  <h2 mat-dialog-title>
    {{ 'PAGES.RENAME_PROFILE.TITLE' | translate }}
  </h2>
  <mat-dialog-content>
    <p>{{ 'PAGES.RENAME_PROFILE.OLD_NAME' | translate }}: {{ oldName }}</p>
    <form
      [formGroup]="formGroup"
      (ngSubmit)="close()"
      novalidate
      #formRef="ngForm"
    >
      <mat-form-field appearance="standard">
        <mat-label>{{ 'PAGES.RENAME_PROFILE.NEW_NAME' | translate }}</mat-label>
        <input matInput formControlName="newName" required />
        <mat-error *ngIf="newName.errors?.required">
          {{ 'PAGES.RENAME_PROFILE.ERRORS.REQUIRED' | translate }}
        </mat-error>

        <mat-error *ngIf="newName.errors?.notEqual">
          {{ 'PAGES.RENAME_PROFILE.ERRORS.NEW_NAME' | translate }}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="formRef.onSubmit()">
      {{ 'PAGES.RENAME_PROFILE.SUBMIT_BUTTON' | translate }}
    </button>
  </mat-dialog-actions>
</div>
