<!-- Available directions -->
<!--
  <mat-card-content>
  <img mat-card-image>
  <mat-card-actions>
  <mat-card-footer>
   -->
<mat-card *ngIf="package">
  <mat-card-header class="fullWidthCardHeader">
    <mat-card-title fxLayout="row">
      {{ package.name | humanize: shouldHumanize }}
      <small> by {{ package.owner }} </small>
      <span fxFlex></span>
      <button
        mat-raised-button
        matTooltip="Open on thunderstore.io"
        (click)="openPackage()"
      >
        Thunderstore
      </button>
    </mat-card-title>
    <mat-card-subtitle>
      {{ packageVersion.description }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table class="details">
      <tr>
        <td>Latests Updated:</td>
        <td align="right">
          {{ package.dateUpdated | date: 'MMM d, y, h:mm a ' }}
        </td>
        <td rowspan="3" align="right">
          <img class="icon" [src]="packageVersion.icon" />
        </td>
      </tr>
      <tr>
        <td>Latest Version:</td>
        <td align="right">
          {{ packageVersion.version }}
        </td>
      </tr>
      <tr>
        <td>Total Downloads:</td>
        <td align="right">
          {{ package.totalDownloads }}
        </td>
      </tr>
    </table>

    <mat-card *ngIf="packageVersion.readme">
      <mat-card-title>README</mat-card-title>
      <mat-card-content>
        <markdown>
          {{ packageVersion.readme }}
        </markdown>
      </mat-card-content>
    </mat-card>
    <strong>Dependencies:</strong>
    <span *ngIf="packageVersion.dependencies.length === 0"> None </span>
    <mat-list dense *ngIf="packageVersion.dependencies">
      <ng-container
        *ngFor="let dep of packageVersion.dependencies; last as isLast"
      >
        <mat-list-item>
          <span class="clickable" (click)="showDetails(dep.pkg)">
            {{ dep.pkg.name | humanize: shouldHumanize }}
          </span>
          &#160;
          <small>by {{ dep.pkg.owner }}</small>
        </mat-list-item>
        <mat-divider *ngIf="!isLast"></mat-divider>
      </ng-container>
    </mat-list>
    <strong>Versions:</strong>
    <mat-list dense>
      <ng-container *ngFor="let version of package.versions; last as isLast">
        <mat-list-item>{{ version.version.version }}</mat-list-item>
        <mat-divider *ngIf="!isLast"></mat-divider>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>
