<mat-card *ngIf="package">
  <mat-card-header class="fullWidthCardHeader">
    <mat-card-title fxLayout="row wrap">
      {{ package.name | humanize: shouldHumanize }}
      <small>&nbsp;by {{ package.owner }} </small>
      <span fxFlex></span>
      <button
        mat-raised-button
        [matTooltip]="'PAGES.PKG_DETAILS.TOOLTIPS.THUNDERSTORE' | translate"
        (click)="openPackage()"
      >
        {{ 'THUNDERSTORE.NAME' | translate }}
      </button>
      <button
        mat-icon-button
        [matTooltip]="'PAGES.PKG_DETAILS.TOOLTIPS.CLOSE' | translate"
        (click)="close()"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle>
      {{ packageVersion.description }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table class="details">
      <tr>
        <td>{{ 'PAGES.PKG_DETAILS.UPDATED_ON' | translate }}:</td>
        <td align="right">
          {{ package.dateUpdated | date: 'MMM d, y, h:mm a ' }}
        </td>
        <td rowspan="3" align="right">
          <img class="icon" [src]="packageVersion.icon" />
        </td>
      </tr>
      <tr>
        <td>{{ 'PAGES.PKG_DETAILS.LATEST_VERSION' | translate }}:</td>
        <td align="right">
          {{ packageVersion.version }}
        </td>
      </tr>
      <tr>
        <td>{{ 'PAGES.PKG_DETAILS.DOWNLOADS' | translate }}:</td>
        <td align="right">
          {{ package.totalDownloads }}
        </td>
      </tr>
    </table>

    <mat-card *ngIf="packageVersion.readme">
      <mat-card-title>{{
        'PAGES.PKG_DETAILS.README' | translate
      }}</mat-card-title>
      <mat-card-content>
        <markdown>
          {{ packageVersion.readme }}
        </markdown>
      </mat-card-content>
    </mat-card>
    <strong>{{ 'PAGES.PKG_DETAILS.DEPENDENCIES' | translate }}:</strong>
    <span *ngIf="packageVersion.dependencies.length === 0"> None </span>
    <mat-list dense *ngIf="packageVersion.dependencies">
      <ng-container
        *ngFor="let dep of packageVersion.dependencies; last as isLast"
      >
        <mat-list-item>
          <span class="clickable" (click)="showDetails(dep.pkg)">
            {{ dep?.pkg?.name | humanize: shouldHumanize }}
          </span>
          &#160;
          <small>by {{ dep?.pkg?.owner }}</small>
        </mat-list-item>
        <mat-divider *ngIf="!isLast"></mat-divider>
      </ng-container>
    </mat-list>
    <strong>{{ 'PAGES.PKG_DETAILS.VERSIONS' | translate }}:</strong>
    <mat-list dense>
      <ng-container *ngFor="let version of package.versions; last as isLast">
        <mat-list-item
          (click)="selectVersion(version)"
          class="clickable"
          [matTooltip]="
            ('PAGES.PKG_DETAILS.TOOLTIPS.INSTALL_VERSION' | translate) +
            version.version.version
          "
        >
          {{ version.version.version }}
        </mat-list-item>
        <mat-divider *ngIf="!isLast"></mat-divider>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>
