<div class="mat-dialog-container" fxLayout="column">
  <h1 mat-dialog-title>Import Package Profile</h1>
  <mat-dialog-content>
    <button mat-raised-button (click)="showOpenDialog()">Browse</button>
    <mat-list dense *ngIf="packages">
      <mat-list-item *ngFor="let pkg of packages; last as isLast">
        {{ pkg?.name || 'foo' }}
      </mat-list-item>
      <mat-divider *ngIf="isLast"></mat-divider>
    </mat-list>
    <div *ngIf="errors">
      <p color="error" *ngFor="let error of errors">{{ error }}</p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="handleClose()">Close</button>
  </mat-dialog-actions>
  <div></div>
</div>
