<div class="preferences">
  <section section="theming">
    <h2>{{ 'PAGES.PREFS.SECTION.THEMING.TITLE' | translate }}</h2>
    <mat-card>
      <mat-list>
        <mat-list-item
          ><mat-slide-toggle
            class="fullWidthToggle"
            labelPosition="before"
            [formControl]="darkMode"
          >
            {{ 'PAGES.PREFS.SECTION.THEMING.DARK_MODE' | translate }}
          </mat-slide-toggle>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </section>

  <section section="ror2">
    <h2>{{ 'PAGES.PREFS.SECTION.ROR2.TITLE' | translate }}</h2>
    <mat-card>
      <mat-list>
        <mat-list-item>
          <label fxLayoutAlign="space-between" fxLayout="row" fxFlex
            ><span
              ><strong
                >{{ 'PAGES.PREFS.SECTION.ROR2.PATH' | translate }}:</strong
              >
              {{ ror2Path }}</span
            >

            <button
              mat-raised-button
              type="button"
              [matTooltip]="'PAGES.PREFS.TOOLTIPS.ROR2_PATH' | translate"
              (click)="selectRoR2Path()"
            >
              {{ 'PAGES.PREFS.SECTION.ROR2.BROWSE_BUTTON' | translate }}
            </button>
          </label>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </section>

  <section section="packageList">
    <h2>{{ 'PAGES.PREFS.SECTION.PKG_LIST.TITLE' | translate }}</h2>
    <mat-card>
      <mat-list>
        <mat-list-item>
          <mat-slide-toggle
            class="fullWidthToggle"
            labelPosition="before"
            [formControl]="respectPinned"
            [matTooltip]="'PAGES.PREFS.TOOLTIPS.RESPECT_PINNED' | translate"
          >
            {{ 'PAGES.PREFS.SECTION.PKG_LIST.PINNED' | translate }}
          </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
          <mat-slide-toggle
            class="fullWidthToggle"
            labelPosition="before"
            [formControl]="humanizePackageNames"
            [matTooltip]="'PAGES.PREFS.TOOLTIPS.HUMANIZE' | translate"
          >
            {{ 'PAGES.PREFS.SECTION.PKG_LIST.HUMANIZE' | translate }}
          </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
          <mat-slide-toggle
            class="fullWidthToggle"
            labelPosition="before"
            [formControl]="checkForPackageUpdates"
            [matTooltip]="'PAGES.PREFS.TOOLTIPS.CHECK_FOR_UPDATE' | translate"
          >
            {{ 'PAGES.PREFS.SECTION.PKG_LIST.CHECK_FOR_UPDATE' | translate }}
          </mat-slide-toggle>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </section>

  <section section="appUpdates">
    <h2>{{ 'PAGES.PREFS.SECTION.UPDATES.TITLE' | translate }}</h2>
    <mat-card>
      <mat-list>
        <mat-list-item>
          <label>
            {{ 'PAGES.PREFS.SECTION.UPDATES.UPDATE_INTERVAL' | translate }}
          </label>
          <span fxFlex></span>
          <mat-form-field>
            <input
              matInput
              type="number"
              [formControl]="appUpdateCheckInterval"
            />
            <span matSuffix>
              {{ 'PAGES.PREFS.SECTION.UPDATES.SECONDS' | translate }}
            </span>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </section>
</div>
