<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list (click)="drawer.mode === 'over' && drawer.close()">
      <a mat-list-item routerLinkActive="active" routerLink="/packages"
        >Packages</a
      >
      <a mat-list-item routerLinkActive="active" routerLink="/config-editor"
        >Config Editor</a
      >
      <a mat-list-item routerLinkActive="active" routerLink="/preferences"
        >Preferences</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>RoR2 Mod Manager {{ version }}</span>
      <span fxFlex></span>
      <button
        *ngIf="router.url === '/preferences'"
        mat-icon-button
        matTooltip="Back"
        (click)="goBack()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button
        *ngIf="router.url !== '/preferences'"
        mat-icon-button
        routerLink="/preferences"
        matTooltip="Preferences"
      >
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button (click)="theme.toggleDarkMode()">
        <mat-icon *ngIf="theme.isDarkMode$ | async" matTooltip="Light Mode"
          >brightness_7</mat-icon
        >
        <mat-icon *ngIf="!(theme.isDarkMode$ | async)" matTooltip="Dark Mode"
          >brightness_2</mat-icon
        >
      </button>
    </mat-toolbar>
    <div fxLayout="column" fxFlex class="grow page-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
