<div class="preferences">
  <section section="theming">
    <h2>Theming</h2>
    <mat-card>
      <mat-list>
        <mat-list-item
          ><mat-slide-toggle
            class="fullWidthToggle"
            labelPosition="before"
            [formControl]="darkMode"
            >Dark Mode</mat-slide-toggle
          >
        </mat-list-item>
      </mat-list>
    </mat-card>
  </section>

  <section section="ror2">
    <h2>Risk Of Rain 2</h2>
    <mat-card>
      <mat-list>
        <mat-list-item>
          <label fxLayoutAlign="space-between" fxLayout="row" fxFlex
            >RoR2 Install Path:

            <button
              mat-raised-button
              type="button"
              matTooltip="Choose RoR2 Install Path"
            >
              Browse
            </button>
          </label>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </section>
</div>
