<div class="preferences">
  <section section="theming">
    <h2>Theming</h2>
    <mat-card>
      <mat-list>
        <mat-list-item
          ><mat-slide-toggle
            class="fullWidthToggle"
            labelPosition="before"
            [formControl]="darkMode"
            >Dark Mode</mat-slide-toggle
          >
        </mat-list-item>
      </mat-list>
    </mat-card>
  </section>

  <section section="ror2">
    <h2>Risk Of Rain 2</h2>
    <mat-card>
      <mat-list>
        <mat-list-item>
          <label fxLayoutAlign="space-between" fxLayout="row" fxFlex
            ><span><strong>RoR2 Install Path:</strong> {{ ror2Path }}</span>

            <button
              mat-raised-button
              type="button"
              matTooltip="Choose RoR2 Install Path"
              (click)="selectRoR2Path()"
            >
              Browse
            </button>
          </label>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </section>
  <section section="packageList">
    <h2>Package List</h2>
    <mat-card>
      <mat-list>
        <mat-list-item>
          <mat-slide-toggle
            class="fullWidthToggle"
            labelPosition="before"
            [formControl]="respectPinned"
            matTooltip="Whether or not to respect the `is_pinned` flag from thunderstore.io"
            >Respect Pinned Flag</mat-slide-toggle
          >
        </mat-list-item>
      </mat-list>
    </mat-card>
  </section>
</div>
