<div fxLayout="row">
  <div fxLayout="column">
    <button
      mat-button
      [matTooltip]="'PAGES.CONFIG_EDITOR.TOOLTIPS.BACK_BUTTON' | translate"
      (click)="goBack()"
    >
      <mat-icon>arrow_back</mat-icon>
      {{ 'PAGES.CONFIG_EDITOR.BACK_BUTTON' | translate }}
    </button>
  </div>
  <h2>{{ 'PAGES.CONFIG_EDITOR.TITLE' | translate }}: {{ filename }}</h2>
  <span fxFlex></span>
  <div fxLayout="column" fxLayoutAlign="center">
    <button
      mat-raised-button
      [disabled]="!someSectionDirty()"
      [matTooltip]="'PAGES.CONFIG_EDITOR.TOOLTIPS.RESET_BUTTON' | translate"
      (click)="reset()"
    >
      {{ 'PAGES.CONFIG_EDITOR.RESET_BUTTON' | translate }}
    </button>
  </div>
  <span class="padding"></span>
  <div fxLayout="column" fxLayoutAlign="center">
    <button
      mat-raised-button
      [disabled]="!someSectionDirty()"
      [matTooltip]="'PAGES.CONFIG_EDITOR.TOOLTIPS.BACK_BUTTON' | translate"
      (click)="saveChanges()"
    >
      Save
    </button>
  </div>
</div>

<mat-accordion multi="true">
  <app-config-section
    *ngFor="let section of parsedConfig | keyvalue"
    [section]="section.value"
    [expanded]="isOpen[section.key]"
    (changed)="isOpen[section.key] = $event"
    #editorSection
  >
  </app-config-section>
</mat-accordion>
