<div class="mat-elevation-z1">
  <table
    mat-table
    class="full-width-table"
    [dataSource]="dataSource"
    matSort
    aria-label="Elements"
  >
    <!-- Refresh Button "column" -->
    <ng-container matColumnDef="refresh">
      <th mat-header-cell *matHeaderCellDef>
        <button
          mat-icon-button
          (click)="refreshPackages()"
          matTooltip="refresh"
        >
          <mat-icon>refresh</mat-icon>
        </button>
      </th>
    </ng-container>

    <!-- Filter Column -->
    <ng-container matColumnDef="filter">
      <th
        mat-header-cell
        *matHeaderCellDef
        [attr.colspan]="displayedColumns.length - 1"
      >
        <mat-form-field floatLabel="never" style="width: 100%">
          <input
            matInput
            placeholder="Filter"
            [formControl]="filter"
            [appFocusOnKeys]="['command+f', 'ctrl+f']"
          />
          <button
            mat-icon-button
            matSuffix
            *ngIf="filter.value"
            (click)="filter.setValue('')"
            matTooltip="Clear filter"
          >
            <mat-icon>
              clear
            </mat-icon>
          </button>
        </mat-form-field>
      </th>
    </ng-container>

    <!-- Checkbox column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Install
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
          [matTooltip]="checkboxLabel(row)"
          [disabled]="row.requiredBy.size > 0"
        ></mat-checkbox>
      </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>Id</th>
      <td mat-cell *matCellDef="let row">{{ row.uuid4 }}</td>
    </ng-container>

    <!-- Icon Columm -->
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef class="icon">Icon</th>
      <td mat-cell *matCellDef="let row" align="left">
        <mat-icon>
          <img class="icon" [src]="row?.latestVersion?.icon" />
        </mat-icon>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">
        {{ row.name | humanize: shouldHumanize }}
      </td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
      <td mat-cell *matCellDef="let row">{{ row.owner }}</td>
    </ng-container>

    <!-- Last Updated Column -->
    <ng-container matColumnDef="updated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated</th>
      <td
        mat-cell
        *matCellDef="let row"
        [matTooltip]="row.dateUpdated.toLocaleTimeString('en-us')"
      >
        {{ row.dateUpdated | date }}
      </td>
    </ng-container>

    <!-- Latest Version Column -->
    <ng-container matColumnDef="latest">
      <th mat-header-cell *matHeaderCellDef>Latest Version</th>
      <td mat-cell *matCellDef="let row">
        {{ row.latestVersion.version.version }}
      </td>
    </ng-container>

    <!-- Installed Version Column -->
    <ng-container matColumnDef="installed">
      <th mat-header-cell *matHeaderCellDef>Installed Version</th>
      <td mat-cell *matCellDef="let row" align="center">
        {{ row.installedVersion?.version?.version || '-' }}
      </td>
    </ng-container>

    <!-- Total Downloads Column -->
    <ng-container matColumnDef="downloads">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Downloads</th>
      <td mat-cell *matCellDef="let row">
        {{ row.totalDownloads }}
      </td>
    </ng-container>

    <!-- Apply Column -->
    <ng-container matColumnDef="apply">
      <td
        mat-footer-cell
        *matFooterCellDef="let row"
        [attr.colspan]="displayedColumns.length"
        class="align-right"
      >
        <button
          mat-raised-button
          matTooltip="Apply Changes"
          [disabled]="!isSelectionDirty()"
          (click)="handleApplyChanges()"
        >
          Apply
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['filter', 'refresh']"></tr>
    <tr
      mat-header-row
      cdkDropList
      *matHeaderRowDef="displayedColumns"
      (contextmenu)="showColumnSelectMenu()"
      (cdkDropListDropped)="columnDrop($event)"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [hidden]="isLoading"
      [class.dirty]="row.dirty"
      [class.dependency]="row.requiredBy.size === 1"
      [class.pinned]="row.isPinned"
      class="clickable"
      (click)="showDetails(row)"
      (contextmenu)="showContextMenu(row)"
    ></tr>
    <tr mat-footer-row *matFooterRowDef="['apply']"></tr>
  </table>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <mat-paginator
    #paginator
    [length]="dataSource?.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100]"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>
</div>
