/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
@import './theme.scss';

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.fullWidthToggle {
  width: 100%;
  label {
    justify-content: space-between;
  }
}

.fullWidthCardHeader {
  div {
    flex-grow: 1;
  }
}

.clickable {
  cursor: pointer;
}

.padding {
  padding: 5px;
}

.padding2 {
  padding: 10px;
}
